<li class='link'>
	
	
	<div class='star-holder'>
		<form class='favouriting' method='post' action='/users/favourites'>
			<input type='hidden' name='link_id' value=<%=link.id %>>
		  <button class='favouriting-button' name='favourite-link' type='submit' >
		  	<img src='http://imgur.com/I0EwG.png' />
		  </button>
		  <div><%= Favourite.count(:link => link) %> adds</div>
		</form>
	</div>
	<a class='title' href="<%= link.url %>"><%= link.title %></a>
	<div class='description'><%= link.description %></div>
	<span class='source'>
		<%= Time.parse(link.timestamp).strftime("added at %I:%M%p on %d-%B-%Y by ") %> 
		<a href='#'><%= User.first(:id => link.user_id).email if User.first(:id => link.user_id)%></a>
	</span>
</li>
